/* Custom animations and transitions that Tailwind doesn't directly support */
@layer utilities {

    /* Custom animations */
    .custom-transition {
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    }

    /* Custom underline animation */
    .custom-underline {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
    }

    .custom-underline::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
    }

    .custom-underline:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

#dot {
    transform: translate(-50%, -50%);
    pointer-events: none; /* Let link hover pass through the dot */
}

@layer base {

    /* Apply font-family directly to headings and #heading */
    #heading {
        font-family: 'Space Grotesk', sans-serif;
    }
}

a {
    position: relative;
    color: #222;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    padding: 0.25em 0.75em;
    transition: color 0.3s ease;
    border-radius: 20px;
}

#reload a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    z-index: 0;
    transition: width 0.4s cubic-bezier(.77, 0, .18, 1);
}

#reload a:hover::before,
#reload a:focus::before {
    width: 100%;
}

#reload a span {
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    
}

#reload a:hover span,
#reload a:focus span {
    color: #111;
    /* Optional: keeps text visible if background is white */
}